# Python / FastAPI
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
venv/
*.log

# Frontend
node_modules/
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# PyCharm
*.iml
*.ipr
*.iws
