<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="timer.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-box">
        <a href="../hub/hub.html" class="home-button"> Main Menu </a>
        <div class="timer-mode-selection">
            <h2>Choose Study Mode</h2>
            <button id="free-study-btn" class="mode-button">Free Study</button>
            <button id="plan-study-btn" class="mode-button">Study from Agenda</button>
        </div>

        <div id="free-study-mode" class="timer-box hidden">
            <h1>Free Study</h1>
            <div class="timer-display">
                <span id="free-minutes">00</span>:<span id="free-seconds">00</span>
            </div>
            <div class="input-section">
                <label for="free-study-topic">Topic: </label>
                <input type="text" id="free-study-topic">
            </div>
            <div class="timer-controls">
                <button id="startStopFree" class="control-button start">Start</button>
                <button id="resetFree" class="control-button reset">Reset</button>
                <button id="finishFree" class="control-button finish">Finish and Save</button>
            </div>
            <div id="free-study-log" class="log-section hidden">
                <h2>Study from Agenda</h2>
                <p>Time: <span id="logged-minutes">00</span> minute <span id="logged-seconds">00</span> second</p>
                <p>Topic: <span id="logged-topic"></span></p>
                <p id="free-study-message" class="message"></p>
            </div>
        </div>

        <div id="plan-study-mode" class="timer-box hidden">
            <h1>Study from Agenda</h1>
            <div class="input-section">
                <label for="planned-lesson-select">Choose a lecture to study:</label>
                <select id="planned-lesson-select">
                    <option value="">Please choose a lecture</option>
                </select>
            </div>
            <div class="timer-display">
                <span id="plan-minutes">00</span>:<span id="plan-seconds">00</span>
            </div>
            <div class="timer-controls">
                <button id="startStopPlan" class="control-button start">Start</button>
                <button id="pauseResumePlan" class="control-button pause">Pause</button>
                <button id="finishPlan" class="control-button finish">Finish</button>
            </div>
            <div id="plan-study-message" class="message"></div>
        </div>
    </div>

    <script src="timer.js"></script>
</body>
</html>
